<div class="max-w-[82.5rem] py-8 mx-auto px-4 2xl:px-0">
	<app-header-app></app-header-app>
	<div class="mt-12 flex gap-14">
		<div class="mt-[3.5rem]">
			<app-menu-app></app-menu-app>
		</div>
		<div>
			<p class="text-2.5xl leading-9 text-black1 font-bold mb-6">Buzz</p>
			<div class="flex gap-14">
				<div class="flex-1">
					<div>
						<img
							class="mb-4"
							src="assets/images/buzz-banner.png"
							alt="banner"
						/>
						<div class="text-right text-blue2">Hide this banner</div>
					</div>
					<div class="mt-14">
						<div class="flex gap-1">
							<img src="assets/icons/edit-2.svg" alt="edit" />
							<p class="text-black1 font-medium">Update status</p>
						</div>
						<textarea
							class="mt-4 h-24 w-full border border-gray1 p-2"
							placeholder="Share an update"
						></textarea>
						<div class="mt-4 flex justify-between">
							<div class="flex items-center gap-1">
								<p class="mr-1">Add:</p>
								<img src="assets/icons/image.svg" alt="img" />
								<img src="assets/icons/paperclip.svg" alt="attach" />
							</div>
							<button
								class="border border-blue2 rounded-[0.25rem] px-2 py-1 text-sm text-blue2"
							>
								Share
							</button>
						</div>
					</div>
					<div class="mt-14">
						<div
							class="flex items-center justify-between border-b border-gray1 pb-4"
						>
							<p class="font-bold">Project activity</p>
							<input
								type="text"
								class="w-80 h-10 border rounded-lg border-gray1 px-4 py-3"
								placeholder="Search activity..."
							/>
						</div>
						<div class="mt-4 flex gap-3">
							<img class="w-10 h-10" src="assets/icons/user.svg" alt="user" />
							<div>
								<p class="font-bold mb-4">
									Welcome to the team space of your app
								</p>
								<p>
									On this page, you’ll stay up-to-date with all discussions
									related to your app projects <br />
									<br />
									Whenever you want to learn more about building ZCL apps, check
									out the
									<span class="text-blue2">ZCL Developer webiste</span> to get
									access to reference guides, APIs, the ZCL forum, how-to’s,
									video, and more. Check out the
									<span class="text-blue2">ZCL website</span> if you want to
									take free online training and become an expert at ZCL
								</p>
								<div class="mt-4 flex gap-4 text-xs">
									<p class="text-gray2">9 hours ago</p>
									<div class="text-blue2">Like</div>
									<div class="text-blue2">Comment</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="flex justify-between w-44">
					<div>
						<p class="text-sm text-black1 font-bold">Team (1)</p>
						<div class="mt-1 flex gap-4">
							<img src="assets/icons/plus-circle.svg" alt="plus" />
							<img src="assets/icons/user.svg" alt="plus" />
						</div>
					</div>
					<div class="text-sm text-blue2">Show all</div>
				</div>
			</div>
		</div>
	</div>
</div>
